 html{
 	overflow:scroll;    
 }
#Reuters_Direct_Settings{
	background:#ffffff;
	font-family: Arial, Helvetica, sans-serif;
}

/* Header */
#rd_header{
	height: 50px;
	position: relative;
	background-color: #222;
	z-index: 45;
	background: url(bg-2011.gif) repeat-x;
}
#rd_header h1{
	position: absolute;
	left: 20px;
	top: 16px;
	display: block;
	width: 300px;
	height: 24px;
	margin: 0;
}
#rd_header h1 span{
	display: block;
	width: 300px;
	height: 24px;
	text-indent: -9999px;
	background: url(rwd_logo.png) no-repeat;
}
#rd_header select{
	cursor: pointer;
	font-size: 11px;
	float: right;
	margin: 10px 20px 10px 10px;
}

/* Sub Header */
#rd_subheader{
	color:#505050; 
	font-size: 12px;
	text-align: right;
	background: url(bg-2011.gif) repeat-x;
	height: 33px;
	position: relative;
	z-index: 32;
	background-position: 0 -129px;
	background-color: #828282;
	padding: 0 20px;
}
#rd_subheader span{
	color:#397c2b; 
}
#rd_subheader b{
	padding: 8px 0;
	display: block;
}
#rd_subheader a{
	color: #a00000;
	text-decoration: none;
}

/* Login Form */
#rd_login{
	margin: 20px 30px;
	background: #F1F1F1;
	font-size: 12px;
}
.rd_form #rd_formheader{
	background: #444;
	color: #FFFFFF;
	padding: 5px 15px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.6;
}
#rd_login p{
	padding: 10px 15px;
	margin: 0;
	color: #333;
}
#rd_login p a{
	text-decoration: none;
}
.rd_form table.form-table{
	margin-top: 20px;
}
.rd_form table.form-table th{
	display: none;
}
.rd_form span#login_field{
	margin-left: 35px;
	font-weight: bold;
	font-size: 14px;
	width: 150px;
	display: inline-block; 
}
.rd_form td{
	padding: 0;
}
.rd_form #username_field, .rd_form #password_field{
	width: 300px;
}
.rd_button{
	background: #ff9100;
	color:#ffffff;
	border:none;
	height: 30px;
	margin: 0 0 20px 30px;
	padding: 0 15px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
}

/* Settings Form */
.settings{
	margin: 0px 30px 20px 30px;
	background: #F1F1F1;
}
.settings #channel_filter{
	background: #FFFFFF;
	margin: 15px 15px 0px 15px;
	border: 1px solid #999;
	padding: 8px 0;
	font-size: 12px;
}
.settings #channel_filter span{
	padding: 0 12px;
}
.settings #channel_filter .category{
	color: #0074a2;
	font-weight: bold;
	text-decoration: none;
}
.settings #channel_filter .selected{
	color: #ff9000;
	font-weight: bold;
	text-decoration: none;
}
.channels, .setting_option{
	width: 100%;
	border-spacing: 0;
	padding: 15px;
}
.channels td, .setting_option td{
	width: 50%;
	vertical-align: top;
	padding: 6px 4px;
	font-size: 12px;
}
.channels td.header{
	font-weight: bold;
	background: #F1F1F1 !important;
}
.channels tr:nth-child(odd) td, .setting_option tr:nth-child(odd) td{
	background: #CCC;
}
p.category_info{
	font-size: 11px !important;
	color: #0074a2;
	padding: 0 20px;
	display:none;
	text-align: justify;
}
#add_category{
	margin-bottom: 0;
	display: none;
}
#add_category input{
	margin-left: 20px;
	margin-bottom: 15px;
	font-size: 12px;
}

/* Footer */
#rd_footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 47px; 
}
.rd_footer {
    font-size: 10px;
    background-color: #333;
    color: #fff;
}
.rd_footer p {
    position: absolute;
    left: 20px;
    top: 14px;
    display: block;
    text-transform: uppercase;
    line-height: 16px;
    margin: 0;
    font-size: inherit;
}
.rd_footer a {
    color: #fff !important;
    text-decoration: none;
}
.rd_footer a.logo{
    display: block;
    height: 38px;
    width: 120px;
    position: absolute;
    right: 20px;
    top: 4px;
    text-indent: -9999px;
    background: url(logo-footer.gif) no-repeat;
}
